<% if user_signed_in? %>
<h3> Welcome user: </h3>
 <%= current_user.email %>
 <br>
 <h5>Please click to view post:</h5>
 <%= link_to "View Post", posts_path %>
 <% else %>
 Please Log in:
   <%= link_to('Login', new_user_session_path)  %>  
 <%end %>
